/*
 * 주소 입력 폼 및 주소 검색창 출력에 필요한 최소한의 CSS만을 지정합니다
 */

.stv_korea_address_wrapper div:first-child {
    display: inline-block;
}

/*
 * 자체 데이터베이스 검색 레이어
 */
.stv_korea_address_search_layer_wrapper {
    position: fixed;
    z-index: 20000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.stv_korea_address_background {
    width: 100%;
    height: 100%;
    position: absolute;;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.stv_korea_address_content_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;;
    left: 0;
    top: 0;
}

.stv_korea_address_search_form_wrapper {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -250px;
    overflow: hidden;
}

.stv_korea_address_search_form_close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.stv_korea_address_search_form_close > p {
    margin: 0;
    font-size: 10pt;
}

.stv_korea_address_search_form_header {
    padding: 1em;
    border-bottom: 1px solid #333;
}

.stv_korea_address_form_wrapper > form {
    margin: 1em;
    text-align: center;
}

.stv_korea_address_form_wrapper select,
.stv_korea_address_form_wrapper input[type="text"]
{
    display: inline-block;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    font-family: "Nanum Barun Gothic",sans-serif;
    padding: 0px 10px 0 15px;
    background-color: #ffffff;
    border: 2px solid #ccd6d2;
    border-left-width: 5px;
    border-radius: 0px;
}

#stv_korea_address_search_submit {
    cursor: pointer;
    padding: 1em 2em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: white;
    background-color: #4b64ea;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
}

.stv_korea_address_list_wrapper {
    padding: 0 10px;
}

.stv_korea_address_list_header {
    border-bottom: 1px solid #333;
    padding: 0;
}

.stv_korea_address_zipcode {
    display: inline-block;
    padding: 5px 10px;
    width: 60px;
    vertical-align: top;
}

.stv_korea_address_address {
    display: inline-block;
    padding: 5px 10px;
    width: 370px;
    vertical-align: top;
}

.stv_korea_address_link {
    display: inline-block;
    padding: 5px 10px;
    width: 80px;
    vertical-align: top;
}

.stv_korea_address_list_message {
    color: black;
    padding: 10px;
}

.stv_korea_address_list_message p {
    margin: 0;
}

.stv_korea_address_list_message li {
    color: blue;
}

.stv_korea_address_list {
    height: 240px;
    overflow: scroll;
}

.stv_korea_address_link > a,
.stv_korea_address_link > a:hover {
    padding: 5px 10px;
    color: white;
    background-color: #12b5f9;
    border-radius: 5px;
    text-decoration: none;
}

.stv_korea_address_waite_message:before {
    content: '';
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    background-image: url( '../images/wait-animated.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.stv_korea_address_waite_message p {
    text-align: center;
    margin: 0;
}

/*
 * 다움 검색 레이어
 */
.stv_korea_address_daum_wrapper > div:first-child {
    display: inline-block;
}

.stv_korea_address_daum_wrapper .daum_address_search_wrapper {
    position: relative;
}

.stv_korea_address_daum_wrapper .daum_address_list_wrapper {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 300px;
    z-index: 999;
    border: 1px solid #333;
    overflow: scroll;
}

.stv_korea_address_daum_wrapper .daum_address_list_wrapper > .daum_address_list_close {
    background-color: white;
    text-align: right;
    padding: 0;
}

.stv_korea_address_daum_wrapper .daum_address_list_wrapper > .daum_address_list_close > div {
    width: 20px;
    height: 20px;
    background-color: black;
    text-align: center;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    vertical-align: top;
}

@media only screen and (max-width: 600px ) {
    .stv_korea_address_search_form_wrapper {
        width: 90%;
        left: 3%;
        top: 60px;
        margin: 0;
    }
    .stv_korea_address_address {
        width: calc( 100% - 148px)
    }
}
